.header{
    background: rgba(110,132,143,0.19);
}
.header .link{
    float: right;
    padding-top: 80px;
    padding-right: 100px;
    font-weight: bold;
}
a {
    padding: 10px;
    font-size: 25px;
}
img {
    width: 200px;
}